<div class="container">
<div class="row">
<div class="col-md-12">


<h1 class="cTitle"> About Me! </h1>
</div>
</div>

<div class="row">
<div class="col-md-12">


<p> Be sure to have your pages set up with the latest design and development standards. That means using an HTML5 doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your pages should look like this:
 </p>

</div>
</div>




</div>
